<div class="container-iphone" style="background-color:#16213E;">
  <h1 class="happening">Happening in your area</h1>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <%= image_tag "alexander-popov-9vDdkxSCAD4-unsplash.jpg", class: "d-block w-100", crop: :fill%>
      <div class="shadow"></div>
        <div class="carousel-caption d-md-block">
          <h5>CSS cry-together</h5>
          <p>Let's shed a tear and a beer for frontend</p>
        </div>
      </div>
      <div class="carousel-item">
      <div class="shadow"></div>
        <%= image_tag "josh-durham-Bpp0iwosSWc-unsplash.jpg", class: "d-block w-100", crop: :fill %>
        <div class="carousel-caption d-md-block">
          <h5>Sebi takes us to the park</h5>
          <p>He's finally said yes! Bring a beer and let's go to the park!</p>
        </div>
      </div>
      <div class="carousel-item">
      <div class="shadow"></div>
        <%= image_tag "ian-schneider-PAykYb-8Er8-unsplash.jpg", class: "d-block w-100", crop: :fill %>
        <div class="carousel-caption d-md-block">
          <h5>Rentners</h5>
          <p>A very well deserved chilled party</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="z-index: 5;">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="z-index: 5;"></span>
      <span class="visually-hidden" style="z-index: 5;">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="z-index: 5;">
      <span class="carousel-control-next-icon" aria-hidden="true" style="z-index: 5;"></span>
      <span class="visually-hidden" style="z-index: 5;">Next</span>
    </button>
  </div>
<br>

<div class="d-flex flex-column align-items-center">
    <div class="cards-parties-all">
      <% @parties.each do |party| %>
      <div class="card-partay mb-2">
        <%= link_to party_path(party), style: "display: inline-flex" do %>
          <% if party.photo.attached? %>
            <%= cl_image_tag party.photo.key, height: 92, width: 92, crop: :fill %>
          <% end %>
        <div class="card-description">
          <h2 id="name"><%= party.name %></h2>
          <p id="username">hosted by <strong><%= party.user.username %></strong></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
