<div class="card-party">
  <%= cl_image_tag @party.photo.key %>
    <div class="card-party-infos">
      <div>
        <div>
          <h2 class="card-party-date"><%= @party.date.strftime("%^a, %d %^b") %></h2>
          <h1><%= @party.name %></h1>
        </div>
        <p><%= @party.description %></p>
      </div>
      <%= link_to user_path  do %>
        <%= cl_image_tag @party.user.avatar.key, class: "card-party-user avatar-bordered" %>
      <% end %>
    </div>
  </div>
</div>

  <%# simpleform for the join request. If a request exists show cancel button  %>
  <div class="buttons d-flex flex-column align-items-center">
    <% if @party.user == current_user %>
        <%= link_to "Delete Event",
            party_path(@party),
            data: {turbo_method: :delete},
            class: "btn-destroy" %>
        <%= link_to "Edit Details", edit_party_path(@party), class: "btn" %>
      <% else %>
        <% unless @this_request.nil?  %>
          <%= link_to "Cancel request",
              party_request_path(@party, @request),
              data: {turbo_method: :delete},
              class: "btn-static" %>
        <% else %>
          <%= simple_form_for([@party, @request]) do |f| %>
          <%= f.button :submit, "Join in!",
                                class: "btn btn-join" %>
          <% end %>
      <% end %>
    <% end %>
  </div>

<% unless @this_request.nil? || if @this_request.status == "accepted" %>
  <p><%= @party.address  %></p>
  <% end %>
<% end %>
