<div class="card-party">
  <%= cl_image_tag @party.photo.key %>
    <div class="card-party-infos">
      <div>
        <div>
          <h2 class="card-party-date"><%= @party.date.strftime("%^a, %d %^b") %></h2>
          <h1><%= @party.name %></h1>
        </div>
        <p><%= @party.description %></p>
      </div>
      <%= link_to user_path  do %>
        <%= cl_image_tag @party.user.avatar.key, class: "card-party-user avatar-bordered" %>
      <% end %>
    </div>
  </div>
</div>

  <%# simpleform for the join request. If a request exists show cancel button  %>
  <% if @party.requests.where(user: current_user).exists? %>
    <%= link_to "Cancel request",
        party_request_path(@party, @request),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn-static" %>
  <% else %>
    <%= simple_form_for([@party, @request]) do |f| %>
    <%= f.button :submit, "Join in!",
                          class: "btn-join" %>
    <% end %>
  <% end %>

  <%# BUTTON TO MESSAGE HOST %>
  <%= link_to "Contact Host", new_chatroom_path(request.parameters) %>

<%# if current_user.request.status == 1  %>
  <p><%#= @party.address  %></p>
<%# end %>

<div data-controller="insert-review">
  <div data-insert-review-target="items">
    <%= render partial: "reviews/form", locals: {party: @party, review: @review} %>
  <%= link_to "Back to all parties", parties_path %>
</div>

<p>
  <% @party.reviews.each do |review| %>
    <%= review.comment %>
  <% end %>
</p>
