<h1>
  <%= @party.name %>
</h1>

<p><%= @party.date  %></p>
<p><%= @party.description  %></p>




<%# check if current user made request, forward to delete if requested %>
<% if current_user %>
  <%= link_to "CAN'T ATTEND?", request_path(@party), class: "btn btn-primary" %>
<% else %>
  <%= link_to "JOIN IN!", request_path(@party), class: "btn btn-primary" %>
<% end %>

<%# TODO implement address to map if user join request accepted  %>

<%# if current_user.request.status == 1  %>
  <p><%= @party.address  %></p>
<%# end %>



<%# TODO implement form if current_user assisted the party %>
<div data-controller="insert-review">
  <div data-insert-review-target="items">
    <%= render partial: "reviews/form", locals: {party: @party, review: @review} %>
  <%= link_to "Back to all parties", parties_path %>
</div>
<%# end %>

<p><% @party.reviews.each do |review| %>
  <%= review.comment %>
  <% end %> </p>
