<h1>
  <%= @party.name %>
</h1>
<%= cl_image_tag @party.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @party.date  %></p>
<p><%= @party.description  %></p>

  <%# simpleform for the join request. If a request exists show cancel button  %>
  <% if @party.requests.where(user: current_user).exists? %>
    <%= link_to "Cancel Request!",
        party_request_path(@party, @request),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-danger" %>
  <% else %>
    <%= simple_form_for([@party, @request]) do |f| %>
    <%= f.button :submit, "JOIN IN!",
                          class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <%# BUTTON TO MESSAGE HOST %>
    <%= link_to @party.user.username, user_chatrooms_path(@party.user),
      data: { turbo_method: :post } %>
<%# TODO implement address to map if user join request accepted  %>

<%# if current_user.request.status == 1  %>
  <p><%#= @party.address  %></p>
<%# end %>



<%# TODO implement form if current_user assisted the party %>
<div data-controller="insert-review">
  <div data-insert-review-target="items">
    <%= render partial: "reviews/form", locals: {party: @party, review: @review} %>
  <%= link_to "Back to all parties", parties_path %>
</div>
<%# end %>

<p>
  <% @party.reviews.each do |review| %>
    <%= review.comment %>
  <% end %>
</p>
