<% if message.user == current_user %>
  <div class="asker-message">
    <div class="message-<%= message.id %>">
      <p><%= message.message %></p>
      <small>
        <strong><%= message.user.username %></strong>
      <p> <%= message.created_at.strftime("%l:%M %p") %> </p>
      </small>
    </div>
  </div>
<% else %>
  <div class="answerer-message">
    <div class="message-<%= message.id %>">
      <p><%= message.message %></p>
      <small>
      <strong><%= message.user.username %></strong>
      <p> <%= message.created_at.strftime("%l:%M %p") %> </p>
      </small>
    </div>
  </div>
<% end %>
