<div class="container-iphone chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id if @chatroom.presence %>"
>
  <div class="blue-space" id="blue-margin">
    <div class="avatar username">
      <h1>
          <%= cl_image_tag @answerer.avatar.key, height: 50, width: 50, crop: :fill, class: "avatar-bordered" %>
          <%= @answerer.username %>
      </h1>
    </div>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="type-container">
    <%= simple_form_for [@chatroom, @message],
      html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"},
      class: "message-box d-flex"} do |f|
    %>
      <%= f.input :message,
        label: false,
        placeholder: "Message #{@answerer.username}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    </div>
  </div>
</div>
