<div class="user-settings">
  <h1><%=@user.username%>'s profile:</h1>
  <div class="bio">


    </div>
  </div>
  <div style="margin-top: 25px; margin-bottom:25px ">
    <hr>
  </div>

  <div class="user-name-email">
    <p>Name: <%= @user.username %></p>
    <p>E-Mail: <%= @user.email %></p>
    <p>Info: New to Berlin and looking for a good time! ­Ъца­Ъца­Ъца­Ъца</p>
  </div>

  <% if @user.favorites_as_followed.find_by(follower: current_user) %>
    <%= button_to "Unfollow", favorite_path(followed: @user, follower: current_user), method: :delete %>
  <% else %>
   <%= button_to "Follow", favorites_path(user: @user), method: :post %>
  <% end %>

</div>
