<div class="user-settings">
  <div class="profile-div">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, class: "profile-pic", crop: :fill %>
      <% end %>
    <div class="bio-info">
      <h1><%=@user.username%>'s profile:</h1>
      <div class="user-name-email">
        <h2>User</h2>
        <p><%= @user.username %></p>
        <h2>Bio</h2>
        <p><%= @user.bio %></p>
      </div>
      <%= link_to favorites_path(user: @user), class: "follow-btn", method: :post do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======

  </div>
  <div style="margin-top: 25px; margin-bottom:25px ">
    <hr>
  </div>

  <div class="user-name-email">
    <p>Name: <%= @user.username %></p>
    <p>E-Mail: <%= @user.email %></p>
    <p>Info: New to Berlin and looking for a good time! 🤠🤠🤠🤠</p>
>>>>>>> e12365ca320001c01361f7a860909b58da195dd2
  </div>
=======
>>>>>>> ec680a5e344a8660dede274cda0c9ef84965654b

  <% if @user.favorites_as_followed.find_by(follower: current_user) %>
    <%= button_to "Unfollow", favorite_path(followed: @user, follower: current_user), method: :delete %>
  <% else %>
   <%= button_to "Follow", favorites_path(user: @user), method: :post %>
  <% end %>

</div>
