<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= 'navbar_blue' if current_page?(controller: '/favorites', action: 'index')%>">
  <div class="container-fluid">
    <%= link_to parties_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png"%>
    <% end %>

    <div>
      <button data-action="click->navbar#menu" class="navbar-toggler" type="button"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <div data-navbar-target="navbar" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Add a Party!", new_party_path, class: "btn nav-item add-party" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Home", parties_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Favorites", favorites_path , class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to current_user.username, edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
