<h1>Reviews#index</h1>
<p>Find me in app/views/reviews/index.html.erb</p>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <%= f.input :email %>
    <%= f.input :country, as: :string %>
    <%= f.input :post_code %>
    <%= f.input :city %>
    <%= f.input :street_name %>
    <%= f.input :house_number %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
